.content-wrapper {
    background: url(../img/bg.png);
}

.back-login{
    background: url(../img/main-bg.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

hr{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.text-muted{
        margin-bottom: 0.5rem;
}

.cr-viewport.cr-vp-square{
    border: 1px solid black;
}

.logo-form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 90px;
    border-radius: 150px;
    top: -75px;
    z-index: 9;
}
.logo-foot {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 150px;
    border-radius: 150px;
    
}